
/client/coverage
/client/build

/server/mongodb/*

/**/node_modules

/**/.DS_Store
/**/Thumbs.db
/**/.env.local
/**/.env.development.local
/**/.env.test.local
/**/.env.production.local
/**/.env
/**/.idea

/**/yarn-debug.log*
/**/yarn-error.log*
/**/package-lock.json
/**/npm-debug.log*
/**/compilation-stats.json
/**/logs
/server/etc
/client/etc
