// scss-lint:disable all
.animated {
  animation-duration: 1s;
  // animation-fill-mode: both;
}

[title] {
  animation-duration: 0s;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes slideLeft {
  from {
    left: -300px
  }
  to {
    left: 0
  }
}

@keyframes fullOpacity {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}

.animated.slide {
  position: relative;
  animation-name: slideLeft, fullOpacity;
  animation-duration: .3s, 1s;
}
