// Here you can add other styles

// < flex
.fx {
  display: flex;
  &.fx-col {
    flex-direction: column
  }
  &.fx-ac {
    align-items: center
  }
  &.fx-ab {
    align-items: baseline
  }
  &.fx-ae {
    align-items: flex-end
  }
  &.fx-as {
    align-items: flex-start
  }
  &.fx-jc {
    justify-content: center
  }
  &.fx-je {
    justify-content: flex-end
  }
  &.fx-js {
    justify-content: flex-start
  }
  &.fx-jb {
    justify-content: space-between
  }
  &.fx-ja {
    justify-content: space-around
  }
  &.fx-rev {
    flex-direction: row-reverse
  }
  .fx-1 {
    flex: 1
  }
  .fx-grow-1 {
    flex-grow: 1
  }
  .fx-grow-2 {
    flex-grow: 2
  }
  .fx-grow-3 {
    flex-grow: 3
  }
  .fx-wrap {
    flex-flow: row wrap;
  }
}
// flex >

// < Colors
$danger: #f86c6b;

.flat-burn {
  color: rgba(79, 105, 118, 0.81)
}

.color-danger {
  color: $danger;
}
// Colors >

// < Override
.btn-info {
  color: white;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.8');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(0.8px);
  filter: blur(0.8px);
}

.react-bs-table-sizePerPage-dropdown .dropdown-menu a {
  display: inline-block;
  width: 100%;
}

.app-header.navbar .navbar-brand {
  background-size: 100px auto;
}

.sidebar .nav-title {
  padding: 2rem 1rem 1.25rem;
}
// Override >

// < enhancers
.pointer {
  cursor: pointer;
}

.main-table > div {
  height: auto !important;
}

.form-warning .form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
}

.modal-footer > :not(:last-child) {
  margin-left: 10px;
}

.sidebar-nav li.nav-item a {
  text-transform: uppercase !important;
}

.react-bs-table-bordered {
  box-shadow: 0 0 2px 1px #ddd;
}
// enhancers >

// < custom
.entity-del {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border: {
    color: $danger;
    width: 2px;
    style: solid;
  }
}

.ico-menu-user {
  width: 35px;
  height: 35px;
  background-color: rgba(228, 229, 230, 0.5);
  border: { radius: 50em };
}
// custom >

// < Common
h2 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
}

.b {
  font-weight: bold
}

.mb-30 {
  margin-bottom: 30px;
}
// Common >

// < Products

.product-preview {
  border: 1px solid $gray-200;
}

.product-history {
  margin-right: -10px;
  margin-left: -10px;
}

.product-history:after {
  content: "";
  flex: auto;
}
// < Card
.product-card {
  &.i-right {
    margin-right: 30px;
  }
  word-wrap: break-word;
  padding: 1px;
  width: 230px;
  height: 90px;
  background-color: $primary;
  background-clip: border-box;
  box-shadow: 0 0 0 5px $primary;
  box-sizing: border-box;
  overflow: hidden;
  $card-width: 88px;
  $card-height: 88px;
  .img {
    width: $card-width;
    height: $card-height;
    background-color: $white;
    img {
      width: $card-width - 2;
      height: $card-height - 2;
    }
  }
  .txt {
    width: 140px;
    height: $card-height;
    .nbr {
      color: white;
    }
    .name {
      color: $gray-100;
      word-wrap: break-word;
      word-break: break-word;
    }
    .uty {
      color: $gray-200;
    }
  }
  &:hover {
    box-shadow: 0 0 0 5px $info;
  }
  &.selected {
    box-shadow: 0 0 0 7px $orange;
    &:hover {
      box-shadow: 0 0 0 7px $yellow;
    }
  }
}
// Card >
// Products >

// < search
div.search-list-wrapper {
  position: relative;
  // &.active {
  // }
  ul.search-list-box {
    position: absolute;
    max-height: 137px;
    z-index: 1;
    overflow-x: auto;
    box-shadow: 0 1px 1px 0 $light;
    li:hover {
      background-color: $light;
    }
  }
}
// search >


// < orders
.basket-form {
  .basket-form-unit {
    margin-bottom: 3px;
    > .input-group {
      margin-bottom: -1px;
      .close-line {
        i { width: 8px }
        color: $white;
        background-color: $danger;
      }
    }
    &.box-border {
      padding: 2px 4px 3px;
      box-shadow: inset 0 0 0 1px $gray-200;
    }
  }
}
.order-status-groups {
  .status-group {
    margin-bottom: 3px;
  }
}
// orders >
